.title-homepage{
  color:blue;
  padding-left: 1.5em;
}

.link{
  font-family:  sans-serif;

}

.ayah{
  font-size:24px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.list{
  padding-top: 1em;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.child {
 flex: 50%;

}

.listmaster{
  list-style-type: none;
}

@media (max-width: 800px) {
  .child {
    flex: 100%;
    text-align: justify;
  }
}