.container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #288a42  ;
  color: white;
  text-align: center;
}

.pt5{
  margin-top: 2em;
}

.list{
  list-style: none;
  
 
  padding: 10px;
}
.rightmenu{
  justify-content: flex-end;
  display: flex;
}
.item{
  margin:0px 16px
}