.title-homepage{
  color:blue
}

.link{
  font-family:  sans-serif
}

.ayah{
  font-size:24px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.list{
  padding-top: 1em;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.child {
  width: calc(50% - 10px);
  margin-left: 10px;
  margin-top: 10px;
 
}